body{

margin:0;

background:#111;

font-family:Arial;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

text-align:center;

}

#mainScreen,
#reasonScreen,
#thankYou{

width:100%;

}

.logo{

font-size:40px;

color:#F5C542;

}

.logo h1{

margin:5px;

font-size:60px;

letter-spacing:4px;

}

h2{

font-size:42px;

margin-bottom:20px;

}

p{

font-size:22px;

color:#ccc;

}

.buttons{

display:flex;

justify-content:center;

gap:60px;

margin-top:40px;

}

.emoji{

background:none;

border:none;

font-size:120px;

cursor:pointer;

transition:.3s;

color:white;

display:flex;

flex-direction:column;

}

.emoji:hover{

transform:scale(1.15);

}

.emoji span{

font-size:24px;

margin-top:15px;

}

.reasonButtons{

display:grid;

grid-template-columns:repeat(2,300px);

gap:20px;

justify-content:center;

margin-top:40px;

}

.reasonButtons button{

padding:25px;

font-size:24px;

border:none;

border-radius:15px;

background:#C62828;

color:white;

cursor:pointer;

transition:.2s;

}

.reasonButtons button:hover{

background:#F5C542;

color:black;

transform:scale(1.05);

}

.heart{

font-size:150px;

animation:pulse 1s infinite;

}

@keyframes pulse{

0%{transform:scale(1);}

50%{transform:scale(1.2);}

100%{transform:scale(1);}

}